<div class="jumbotron text-center">
<h1>{{greetMessage}}</h1>
<p class="lead">
    Manage your monthly budget
</p>

<!--<h3>Sing Up Today.Its FREE!!</h3>-->
<br>
<a href="" class="btn btn-primary">SUBMIT</a>

</div>